# Project 1: California


## Due Thursday, February 6th at 11:59pm

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests.

In [2]:
# Don't change this cell; just run it
import numpy as np
import babypandas as bpd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

from client.api.notebook import Notebook
ok = Notebook('project.ok')
_ = ok.auth(inline=True)

=====================================================================
Assignment: Project 1
OK, version v1.14.18
=====================================================================

Successfully logged in as chc401@ucsd.edu

In this project we'll explore some data about California. The project is a little longer than a homework, but the questions may require you to **"put the pieces together"** more than a typical homework question. You may have to perform several steps to answer a question. Remember that you can always save intermediate results!

The datasets in this project consist of real-world data, cleaned slighty for ease of use. As such, there are occasional anomalies that you'll have to look out for and handle specially. You are encouraged to ask your own questions and try to answer them using these datasets!

### Logistics

**Deadline.** This project is due at **11:59pm on Thursday February 6**. It's much better to be early than late, so start working now.

**Plotting Questions**: The plots for the project are **optional** and ungraded, meaning you do **not** need to submit a PDF of this notebook to Gradescope. Hoewever, the plotting questions are good practice for the midterm.

**Partners.** You may work with one other partner; only one of you is required to submit the project. On okpy.org, the person who submits should also designate their partner so that both of you receive credit.

**Rules.** Don't share your code with anybody but your partner. You are welcome to discuss questions with other students, but don't share the answers or code. The experience of solving the problems in this project will prepare you for exams (and life). If someone asks you for the answer, resist! Instead, you can demonstrate how you would solve a similar problem.

**Support.** You are not alone! Come to office hours, post on Campuswire, and talk to your classmates. If you want to ask about the details of your solution to a problem, make a private Campuswire post and the staff will respond. If you're ever feeling overwhelmed or don't know how to make progress, send a private Campuswire post to instructors for help.

**Tests.** The tests that are given are not comprehensive and passing the tests for a question does not mean that you answered the question correctly. Tests usually only check that your table has the correct column labels. However, more tests will be applied to verify the correctness of your submission in order to assign your final score, so be careful and check your work!

**Advice.** Develop your answers incrementally. To perform a complicated table manipulation, break it up into steps, perform each step on a different line, give a new name to each result, and check that each intermediate result is what you expect. You can add any additional names or functions you want to the provided cells. Make sure that you are using distinct and meaningful variable names throughout the notebook. Along that line, DO NOT reuse the variable names that we use when we grade your answers, otherwise there is the chance that our tests will grade against a variable that's not what you intened (especially if you run the notebook out of order!).

You never have to use just one line in this project or any others. Use intermediate variables and multiple lines as much as you would like!

## 1. California Climates

<img src="./jtree.jpg"/>

California consists of many different climates -- from the southern deserts to the alpine conditions in the High Sierra. We'll start by getting a sense of what Californian land is like.

**Question 1.1.** The file `data/landtype.csv` contains information from the US Geological Survey on land type for the entire United States. Read it into a DataFrame named `us_land`.

In [ ]:
#... us_land
us_land = bpd.read_csv('data/landtype.csv')
us_land

In [ ]:
_ = ok.grade('q1_1')

The USGS breaks the United States into 3821 regions; each row in the table contains information about one region. Out of the table's 12 columns, the important ones are:

<table>
    <tr>
        <th>Column Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>strStName</td>
        <td>state name</td>
    </tr>
    <tr>
        <td>strClassName</td>
        <td>land class</td>
    </tr>
    <tr>
        <td>strEcoSysName</td>
        <td>ecological system</td>
    </tr>
    <tr>
        <td>intSqMiles</td>
        <td>size in square miles</td>
    </tr>
</table>

**Question 1.2.** To make the data easier to work with, let's keep only the columns listed above and give them better names. Create a new DataFrame named `us_land_renamed` which contains four columns: "State", "Class", "EcologicalSystem", and "SquareMiles", containing the state name, land type, ecological system, and size of each region, respectively.

In [ ]:
#... us_land_renamed
us_land_renamed = bpd.DataFrame().assign(
    State=us_land.get('strStName'),
    Class=us_land.get('strClassName'),
    EcologicalSystem=us_land.get('strEcoSysName'),
    SquareMiles=us_land.get('intSqMiles')
)
us_land_renamed

In [ ]:
_ = ok.grade('q1_2')

**Question 1.3.** We only care about California! Create a table called `california_land` which contains only the regions in California. Furthermore, remove the "State" column, since it is no longer informative.

In [ ]:
#... ca_land
ca_land = us_land_renamed[us_land_renamed.get('State') == 'California'].drop(columns='State')
ca_land

In [ ]:
_ = ok.grade('q1_3')

**Question 1.4.** We are interested in how much of California's land is Forest & Woodland, how much is Open Water, and so on. Create a table named `ca_classes` with two columns, "SquareMiles" and "Percentage", containing the total area in square miles and the total percentage (as a number between 0 and 1) of California that is made up of each land class. The label of each row should be a land class. That is, your table should look like this (but with the `?`s replaced by numbers):

<img width=50% src="./q1_output.png"/>

In [ ]:
#... ca_classes
ca_classes = ca_land.assign(
    Percentage=ca_land.get('SquareMiles') / ca_land.get('SquareMiles').sum()
).groupby('Class').sum()
ca_classes

In [ ]:
_ = ok.grade('q1_4')

**Question 1.5.** Create a horizontal bar chart showing the percentage of California that is made up of each land class. Make sure that the bars are sorted, from longest at the top to shortest at the bottom.

In [ ]:
#- write your code here
ca_classes.sort_values(by='Percentage', ascending=True).plot(kind='barh', y='Percentage')

**Question 1.6.** You should notice that almost 7% of California's land is developed! How many square miles is this, exactly? Save your answer in `developed_sq_mi`.

In [ ]:
#... developed_sq_mi
developed_sq_mi = ca_classes.get('SquareMiles').loc['Developed & Other Human Use']
developed_sq_mi

In [ ]:
_ = ok.grade('q1_6')

## 2. Beaches and Coast

<img width=85% src="./beach.jpg"/>

California has over 3,400 miles of shoreline. The [California Coastal Commission](https://en.wikipedia.org/wiki/California_Coastal_Commission) is a public agency charged with managing the coast and ensuring that all Californians have access to the ocean.

The California Coastal Commission maintains a list of all of the named beaches in the state. The file `beaches.csv` contains this information:

In [ ]:
beaches = bpd.read_csv('data/beaches.csv')
beaches

The table below shows all of the columns in the DataFrame and their contents:

<table>
    <tr>
        <th>
            Column Name
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            COUNTY
        </td>
        <td>
            Name of the county in which the beach is located
        </td>
    </tr>
    <tr>
        <td>
            PARKING
        </td>
        <td>
            Whether or not there is parking at the beach
        </td>
    </tr>
    <tr>
        <td>
            FEE
        </td>
        <td>
            Whether or not there is a fee to access the beach
        </td>
    </tr>
    <tr>
        <td>
            LATITUDE
        </td>
        <td>
            The beach's latitude
        </td>
    </tr>
    <tr>
        <td>
            LOGITUDE
        </td>
        <td>
            The beach's longitude
        </td>
    </tr>
    <tr>
        <td>
            NAME
        </td>
        <td>
            Name of the beach
        </td>
    </tr>
    <tr>
        <td>
            LOCATION
        </td>
        <td>
            A description of the beach's location
        </td>
    </tr>
    <tr>
        <td>
            DESCRIPTION
        </td>
        <td>
            A short description of the beach
        </td>
    </tr>
</table>

**Question 2.1.** Which county has the most beaches?

In [ ]:
#... county_with_most_beaches
county_with_most_beaches = beaches.groupby('COUNTY').count().sort_values('FEE').index[-1]
county_with_most_beaches

In [ ]:
_ = ok.grade('q2_1')

**Question 2.2.** That might not have been the answer we were expecting. What is the county with the most *free* beaches? That is, which county has the most beaches that do not require a fee to access?

In [ ]:
#... county_with_most_free_beaches
county_with_most_free_beaches = (
    beaches[beaches.get('FEE') == 'No']
    .groupby('COUNTY')
    .count()
    .sort_values('FEE')
).index[-1]
county_with_most_free_beaches

In [ ]:
_ = ok.grade('q2_2')

That's better.

**Question 2.3.** How many beaches in San Diego county do not have a fee and do have parking?

In [ ]:
#... san_diego_free_beaches_with_parking
san_diego_free_beaches_with_parking = (
    beaches[
        (beaches.get('COUNTY') == 'San Diego') 
        & 
        (beaches.get('PARKING') == 'Yes') 
        & 
        (beaches.get('FEE') == 'No')
    ]).shape[0]
san_diego_free_beaches_with_parking

In [ ]:
_ = ok.grade('q2_3')

**Question 2.4.** Create a new DataFrame called `percent_free_beaches` with one row for each county and two columns: "TOTAL", containing the total number of beaches in each county, and "PERCENT_FREE", containing the percentage of the beaches in that county which do not charge a fee. Your answer should look like the picture below, but with the `?`s replaced by numbers.

<img width=30% src="./q2_output.png"/>

*Hint*: You might want to create intermediate variables.

In [ ]:
#...percent_free_beaches
free_beaches_per_county = beaches[beaches.get('FEE') == 'No'].groupby('COUNTY').count().get('PARKING')
beaches_per_county = beaches.groupby('COUNTY').count().get('PARKING')

percent_free_beaches = bpd.DataFrame().assign(
    TOTAL=beaches_per_county,
    PERCENT_FREE=free_beaches_per_county/beaches_per_county
).sort_values(by='PERCENT_FREE')
percent_free_beaches

In [ ]:
_ = ok.grade('q2_4')

**Question 2.5.** Highway 101 stretches from Los Angeles to the Canadian border. How many beaches in the dataset are on Highway 101? *Hint*: Look for the string "Hwy. 101".

In [ ]:
#... number_on_101
number_on_101 = beaches[beaches.get('LOCATION').str.contains('Hwy. 101')].shape[0]
number_on_101

In [ ]:
_ = ok.grade('q2_5')

**Question 2.6.** Make a rudimentary drawing of the shape of the coast of California with a scatter plot of the beach locations (latitude and longitude).

*Tip*: Place
```python
plt.gca().set_aspect('equal')
```
after your line of code to fix the aspect ratio.

In [ ]:
#- place your code here
beaches.plot(kind='scatter', x='LONGITUDE', y='LATITUDE')
plt.gca().set_aspect('equal')

You'll notice a few dots out in the ocean. Some of those are beaches on the Channel Islands, but the northernmost "island" is suspicious -- I don't remember any island around Monterey!

Let's use a library called `folium` to visualize the beach locations:

In [ ]:
import folium

In [ ]:
# don't worry too much about this code!
m = folium.Map(location=[33.387082, -119.595940], zoom_start=6)

for lat, lon, name in zip(
        beaches.get('LATITUDE').values, beaches.get('LONGITUDE').values, beaches.get('NAME').values
):
    folium.Marker(location=[lat, lon], popup=name).add_to(m)

m

It looks like "Its Beach" near Santa Cruz is incorrectly represented in the data. It's latitude is listed as `35.952`, when it is almost surely `36.952`.

**Question 2.7.** Plot a density histogram of the beach locations by latitude. Use 20 bins.

In [ ]:
beaches.plot(kind='hist', y='LATITUDE', bins=20, density=True)

**Question 2.8.** What is the name of the northernmost beach in California?

In [ ]:
#... northernmost_beach
northernmost_beach = beaches.sort_values('LATITUDE').get('NAME').iloc[-1]
northernmost_beach

In [ ]:
_ = ok.grade('q2_8')

## 3. Climate Change

<img width=90% src="./scripps.jpg"/>

California has plenty of coastline, but it is eroding at an alarming rate due to rising sea levels. The USGS [estimates](https://www.usgs.gov/news/sea-level-rise-could-double-erosion-rates-southern-california-coastal-cliffs) that bluffs along the coast of Southern California could be suffer erosion of anywhere from 65 to 135 feet by the year 2100.

The file `sea_temp.csv` contains historical measurements of the surface temperature (in Celsius) of the water at the La Jolla oceanographic station; `sea_level.csv` contains measurements of the sea level relative to a global baseline (in meters).

In [3]:
sea_temp= bpd.read_csv('data/sea_temp.csv')
sea_temp

       YEAR  MONTH  DAY  SURFACE_TEMP
0      1916      8   22          19.5
1      1916      8   23          19.9
2      1916      8   24          19.7
3      1916      8   25          19.7
4      1916      8   26          19.5
...     ...    ...  ...           ...
36292  2019      5   26          18.0
36293  2019      5   27          17.6
36294  2019      5   28          17.1
36295  2019      5   29          18.1
36296  2019      5   31          18.3

[36297 rows x 4 columns]

In [4]:
sea_level = bpd.read_csv('data/sea_level.csv')
sea_level

      year  month  level
0     1924     11 -0.225
1     1924     12 -0.195
2     1925      1 -0.198
3     1925      2 -0.207
4     1925      3 -0.150
...    ...    ...    ...
1136  2019      7  0.006
1137  2019      8 -0.008
1138  2019      9  0.036
1139  2019     10  0.020
1140  2019     11  0.097

[1141 rows x 3 columns]

**Question 3.1.** Create a new table named `sea_level_inches` which has the same three columns as `sea_level`, but where the "level" column is measured in inches instead of meters.

In [5]:
#... sea_level_inches
sea_level_inches = sea_level.assign(
    level=sea_level.get('level') * 39.37
)
sea_level_inches

      year  month    level
0     1924     11 -8.85825
1     1924     12 -7.67715
2     1925      1 -7.79526
3     1925      2 -8.14959
4     1925      3 -5.90550
...    ...    ...      ...
1136  2019      7  0.23622
1137  2019      8 -0.31496
1138  2019      9  1.41732
1139  2019     10  0.78740
1140  2019     11  3.81889

[1141 rows x 3 columns]

In [6]:
_ = ok.grade('q3_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3.2.** Create a new table named `sea_temp_fahrenheit` which has the same three columns as `sea_temp`, but where the "SURFACE_TEMP" column is measured in Fahrenheit instead of Celsius.

In [7]:
#... sea_temp_fahrenheit
sea_temp_fahrenheit = sea_temp.assign(
    SURFACE_TEMP=sea_temp.get('SURFACE_TEMP')*(9/5) + 32
)
sea_temp_fahrenheit

       YEAR  MONTH  DAY  SURFACE_TEMP
0      1916      8   22         67.10
1      1916      8   23         67.82
2      1916      8   24         67.46
3      1916      8   25         67.46
4      1916      8   26         67.10
...     ...    ...  ...           ...
36292  2019      5   26         64.40
36293  2019      5   27         63.68
36294  2019      5   28         62.78
36295  2019      5   29         64.58
36296  2019      5   31         64.94

[36297 rows x 4 columns]

In [8]:
_ = ok.grade('q3_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3.3.** Create a new table named `sea_averages` which contains one row for each year and two columns: "TEMPERATURE", containing the average sea temperature in Fahrenheit for each year, and "LEVEL", containing the average sea level in inches for each year. Note that because historical temperatures go back to 1916, but historical sea level measurements only go back to 1924, your table will only have rows for 1924 to 2019. The index of your table should contain the years.

*Hint*: As always, you can create intermediate variables.

*Note*: You might need to use a feature of `babypandas` that was just recently added. You *probably* have the feature already, but if you write your code and see an unexpected error you might need to update. You can do this by saving your notebook then clicking on "Control Panel" in the top right, and the "Stop My Server". Wait a few seconds, then click the "Start My Server" button when it appears. Your `babypandas` should now be up-to-date.

In [9]:
#... sea_averages
avg_temp = sea_temp_fahrenheit.groupby('YEAR').mean()
avg_level = sea_level_inches.groupby('year').mean()

sea_averages_temp = (
    avg_temp._pd.merge(avg_level._pd, left_index=True, right_index=True)
).get(['SURFACE_TEMP', 'level'])

sea_averages = bpd.DataFrame().assign(
    TEMPERATURE=sea_averages_temp.get('SURFACE_TEMP'),
    LEVEL=sea_averages_temp.get('level')
)
sea_averages

      TEMPERATURE     LEVEL
1924    61.586254 -8.267700
1925    62.658192 -5.826760
1926    64.545973 -4.803140
1927    62.384493 -5.859568
1928    62.141148 -5.078730
...           ...       ...
2015    67.253529  4.849072
2016    65.602264  1.430443
2017    65.463854  1.108922
2018    66.348645  1.496060
2019    61.757479  1.295631

[96 rows x 2 columns]

In [ ]:
_ = ok.grade('q3_3')

**Question 3.4.** What were the top 5 years in terms of hottest ocean surface temperature? You can write your answer by hand as a list of integers. Example: `[1942, 1900, 1776, 3000, 1994]`

In [ ]:
#... top_5_hottest_years
top_5_hottest_years = list(sea_averages.sort_values('TEMPERATURE', ascending=False).index[:5])
top_5_hottest_years

In [ ]:
_ = ok.grade('q3_4')

**Question 3.5** What was the median sea surface temperature in Fahrenheit during the month of August, 2018?

In [ ]:
#... august_2018_median_temp
august_2018_median_temp = sea_temp_fahrenheit[
    (sea_temp_fahrenheit.get('YEAR') == 2018)
    &
    (sea_temp_fahrenheit.get('MONTH') == 8)
].get('SURFACE_TEMP').median()
august_2018_median_temp

In [ ]:
_ = ok.grade('q3_5')

Now let's plot the yearly average surface temperature in Fahrenheit as a line plot, with year on the horizontal axis:

In [ ]:
#- your code here
sea_averages.plot(y='TEMPERATURE')

Let's plot the yearly average sea level in inches as a line plot, with year on the horizontal axis:

In [ ]:
sea_averages.plot(y='LEVEL')

If your `sea_averages` is right, you should notice a linear increase in the sea level. Let's find the slope of this line and use it to predict the sea level in the future. To start, we need to find the rate at which the sea level has been increasing in inches per year. We could simply take the difference in the height in 2019 and 1924 and divide it by the number of years between them (2019 - 1924 = 95), but this is susceptible to noise.

Here's a slightly better way:

**Question 3.6.** Define a variable `robust_level_1929` which contains the average of all sea level readings (in inches) taken from 1924 (inclusive) up to 1934 (exclusive). Define a variable `robust_level_2015` which contains the average of all sea level readings (in inches) taken from 2009 (inclusive) to 2019 (exclusive).

*Hint*: Should you use `sea_averages` or `sea_level_inches`?

In [ ]:
#... robust_level_1929
robust_level_1929 = sea_level_inches[
    (sea_level_inches.get('year') >= 1924) 
    & 
    (sea_level_inches.get('year') < 1934)
].get('level').mean()
robust_level_1929

In [ ]:
#... robust_level_2015
robust_level_2015 = sea_level_inches[
    (sea_level_inches.get('year') >= 2009) 
    & 
    (sea_level_inches.get('year') < 2019)
].get('level').mean()
robust_level_2015

In [ ]:
_ = ok.grade('q3_6')

**Question 3.7.** Assume that the sea level increased at a constant rate from a value of `robust_level_1929` inches in 1929 to `robust_level_2015` inches in 2015. What was the rate of increase?

In [ ]:
#... inches_per_year
inches_per_year = (robust_level_2015 - robust_level_1929) / (2015 - 1929)
inches_per_year

In [ ]:
_ = ok.grade('q3_7')

**Question 3.8.** Create a function called `predict_sea_level` which takes in a year and outputs the predicted sea level in that year. You should make your prediction by assuming that the actual sea level in the year 2015 was `robust_level_2015`, and that it increases at a constant rate of `inches_per_year` inches.

In [ ]:
def predict_sea_level(year):
    ...

In [ ]:
#DELETE
def predict_sea_level(year):
    return robust_level_2015 + inches_per_year * (year - 2015)

In [ ]:
_ = ok.grade('q3_8')

Your prediction is linear; unfortunately, scientists believe that the rate of sea level rise will increase in the coming decades to match the trend in rising temperatures. This means that the sea level is likely to rise much more than your prediction would suggest.

**Question 3.9.** Make a scatter plot of the yearly average temperature on the horizontal axis versus the yearly average sea level on the vertical axis.

In [ ]:
sea_averages.plot(kind='scatter', x='TEMPERATURE', y='LEVEL')

## 4. California's Renewable Energy

<img width=85% src="wind_energy.jpg"/>

To combat climate change, California has increasingly generated its energy from renewable resources, such as solar and wind power. The file `energy.csv` contains hourly measurements of the amount of energy produced in California by various renewable sources in megawatts between April 2010 and January 2018.

In [2]:
energy_raw = bpd.read_csv('data/energy.csv').set_index('TIMESTAMP')
energy_raw

,BIOGAS,BIOMASS,GEOTHERMAL,SMALL HYDRO,SOLAR,SOLAR PV,SOLAR THERMAL,WIND TOTAL
TIMESTAMP,,,,,,,,
2011-07-21 00:00:00,177.0,372.0,984.0,516.0,0.0,0.0,0.0,1607.0
2011-07-21 01:00:00,176.0,373.0,984.0,509.0,0.0,0.0,0.0,1619.0
2011-07-21 02:00:00,177.0,371.0,985.0,506.0,0.0,0.0,0.0,1660.0
2011-07-21 03:00:00,177.0,374.0,985.0,504.0,0.0,0.0,0.0,1633.0
2011-07-21 04:00:00,177.0,377.0,984.0,508.0,0.0,0.0,0.0,1520.0
...,...,...,...,...,...,...,...,...
2013-01-28 19:00:00,209.0,331.0,924.0,404.0,0.0,0.0,0.0,2633.0
2013-01-28 20:00:00,207.0,334.0,924.0,372.0,0.0,0.0,0.0,2540.0
2013-01-28 21:00:00,208.0,342.0,926.0,372.0,0.0,0.0,0.0,2408.0
2013-01-28 22:00:00,208.0,334.0,928.0,358.0,0.0,0.0,0.0,2274.0
2013-01-28 23:00:00,208.0,335.0,928.0,331.0,0.0,0.0,0.0,2230.0

The index labels are *timestamps*. These are standardized strings specifying a particular time and date. For instance, "2013-01-28 23:00:00" represents January 28, 2013 at 11 pm.

**Question 4.1.** The data set has two columns for similar solar technologies: SOLAR and SOLAR PV. It makes sense to combine these columns into one. Create a new table named `energy` in which the "SOLAR" column is the sum of the "SOLAR" and "SOLAR PV" columns in `energy_raw`. Remove "SOLAR PV" from this new table.

In [3]:
#... energy
energy = energy_raw.assign(
    SOLAR=energy_raw.get('SOLAR') + energy_raw.get('SOLAR PV')
).drop(columns='SOLAR PV')
energy

,BIOGAS,BIOMASS,GEOTHERMAL,SMALL HYDRO,SOLAR,SOLAR THERMAL,WIND TOTAL
TIMESTAMP,,,,,,,
2011-07-21 00:00:00,177.0,372.0,984.0,516.0,0.0,0.0,1607.0
2011-07-21 01:00:00,176.0,373.0,984.0,509.0,0.0,0.0,1619.0
2011-07-21 02:00:00,177.0,371.0,985.0,506.0,0.0,0.0,1660.0
2011-07-21 03:00:00,177.0,374.0,985.0,504.0,0.0,0.0,1633.0
2011-07-21 04:00:00,177.0,377.0,984.0,508.0,0.0,0.0,1520.0
...,...,...,...,...,...,...,...
2013-01-28 19:00:00,209.0,331.0,924.0,404.0,0.0,0.0,2633.0
2013-01-28 20:00:00,207.0,334.0,924.0,372.0,0.0,0.0,2540.0
2013-01-28 21:00:00,208.0,342.0,926.0,372.0,0.0,0.0,2408.0
2013-01-28 22:00:00,208.0,334.0,928.0,358.0,0.0,0.0,2274.0
2013-01-28 23:00:00,208.0,335.0,928.0,331.0,0.0,0.0,2230.0

In [4]:
_ = ok.grade('q4_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.2.** Return the hour which had the highest production of geothermal energy. Your answer should be in the form of a timestamp, like "2011-07-21 00:00:00".

In [5]:
#... most_geothermal_timestamp
most_geothermal_timestamp = energy.sort_values(by='GEOTHERMAL').index[-1]
most_geothermal_timestamp

'2017-09-23 06:00:00'

In [6]:
_ = ok.grade('q4_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.3.** Create functions called `extract_year`, `extract_month`, and `extract_day` which, given a timestamp string of the form "2011-07-21 00:00:00", returns the year, month, and day, respectively, all as a `int`s.

*Hint*: remember that `.split()` can accept the character to split on.

In [7]:
def extract_year(timestamp):
    ...
    
def extract_month(timestamp):
    ...
    
def extract_day(timestamp):
    ...

In [8]:
#DELETE
def extract_year(timestamp):
    return int(timestamp.split('-')[0])
    
def extract_month(timestamp):
    return int(timestamp.split('-')[1])
    
def extract_day(timestamp):
    return int(timestamp.split('-')[2].split()[0])

In [9]:
print('Should return 2011:', extract_year('2011-07-21 00:00:00'))
print('Should return 7:', extract_month('2011-07-21 00:00:00'))
print('Should return 21:', extract_day('2011-07-21 00:00:00'))

Should return 2011: 2011
Should return 7: 7
Should return 21: 21

In [10]:
_ = ok.grade('q4_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.4.** Create a function called `extract_hour` which, given a timestamp string of the form "2011-07-21 00:00:00", returns the hour as an `int`.

In [11]:
def extract_hour(timestamp):
    ...

In [12]:
#DELETE
def extract_hour(timestamp):
    return int(timestamp.split()[1].split(':')[0])

In [13]:
print('Should return 13:', extract_hour('2011-07-21 13:00:00'))

Should return 13: 13

In [14]:
_ = ok.grade('q4_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.5.** Create a new table called `energy_with_time` which contains all of the columns of `energy`, plus columns "YEAR", "MONTH", "DAY", and "HOUR" containing the year, month, day, and hour of each row as integers. Your table should not have an index (other than the default index consisting of numbers).

Your table should look like the picture below, but with the `?`s replaced by numbers:
<img width=85% src="./q4_output.png"/>

In [15]:
#... energy_with_time
energy_temp = energy.reset_index()
energy_with_time = energy_temp.assign(
    YEAR=energy_temp.get('TIMESTAMP').apply(extract_year),
    MONTH=energy_temp.get('TIMESTAMP').apply(extract_month),
    DAY=energy_temp.get('TIMESTAMP').apply(extract_day),
    HOUR=energy_temp.get('TIMESTAMP').apply(extract_hour)
).drop(columns='TIMESTAMP')
energy_with_time

,BIOGAS,BIOMASS,GEOTHERMAL,SMALL HYDRO,SOLAR,SOLAR THERMAL,WIND TOTAL,YEAR,MONTH,DAY,HOUR
0,177.0,372.0,984.0,516.0,0.0,0.0,1607.0,2011,7,21,0
1,176.0,373.0,984.0,509.0,0.0,0.0,1619.0,2011,7,21,1
2,177.0,371.0,985.0,506.0,0.0,0.0,1660.0,2011,7,21,2
3,177.0,374.0,985.0,504.0,0.0,0.0,1633.0,2011,7,21,3
4,177.0,377.0,984.0,508.0,0.0,0.0,1520.0,2011,7,21,4
...,...,...,...,...,...,...,...,...,...,...,...
67579,209.0,331.0,924.0,404.0,0.0,0.0,2633.0,2013,1,28,19
67580,207.0,334.0,924.0,372.0,0.0,0.0,2540.0,2013,1,28,20
67581,208.0,342.0,926.0,372.0,0.0,0.0,2408.0,2013,1,28,21
67582,208.0,334.0,928.0,358.0,0.0,0.0,2274.0,2013,1,28,22
67583,208.0,335.0,928.0,331.0,0.0,0.0,2230.0,2013,1,28,23

In [16]:
_ = ok.grade('q4_5')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.6.** Create a table called `monthly_totals` which contains the total amount of energy produced by each method for each month in the data set. That is, your table should have one row for July 2011, another row for August 2011, another for September 2011, and so on. Your resulting table should have the same columns as `energy_with_time`, except "DAY" and "HOUR" should be removed.

*Hint*: Your table should have 94 rows.

In [17]:
#... monthly_totals
monthly_totals = energy_with_time.groupby(['YEAR', 'MONTH']).sum().reset_index().drop(columns=['DAY', 'HOUR'])
monthly_totals

,YEAR,MONTH,BIOGAS,BIOMASS,GEOTHERMAL,SMALL HYDRO,SOLAR,SOLAR THERMAL,WIND TOTAL
0,2010,4,44622.0,75933.0,277881.0,77812.0,27307.0,0.0,208245.0
1,2010,5,117271.0,168901.0,778631.0,263391.0,101640.0,0.0,665327.0
2,2010,6,120467.0,246372.0,751765.0,296879.0,131065.0,0.0,805400.0
3,2010,7,122346.0,304649.0,756300.0,274086.0,130052.0,0.0,842461.0
4,2010,8,120080.0,276269.0,734931.0,285446.0,118890.0,0.0,680201.0
...,...,...,...,...,...,...,...,...,...
89,2017,9,117843.0,267106.0,838393.0,259454.0,2225836.0,125466.0,1159574.0
90,2017,10,156121.0,241056.0,601337.0,228460.0,2076023.0,105184.0,991351.0
91,2017,11,160756.0,230921.0,661893.0,293635.0,1375899.0,49857.0,841107.0
92,2017,12,177256.0,248422.0,690448.0,321602.0,1392400.0,50210.0,520035.0
93,2018,1,83733.0,124943.0,361737.0,143817.0,581836.0,21450.0,274922.0

In [18]:
_ = ok.grade('q4_6')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.7.** Plot the monthly total production of SOLAR, GEOTHERMAL, and WIND TOTAL on one plot.

In [ ]:
#- put your code here
monthly_totals.get(['SOLAR', 'GEOTHERMAL', 'WIND TOTAL']).plot()

**Question 4.8.** Create a table called `hourly_averages_june_2017` which contains the average output of every energy source by hour in the month of June 2017. Your table should not contain DAY, MONTH, or YEAR columns.

Your answer should look like this (I've intentionally left the numbers in the table so that you can check your answer):

<img width=90% src="./q48_output.png"/>

In [ ]:
#... hourly_averages_june_2017
hourly_averages_june_2017 = energy_with_time[
    (energy_with_time.get('YEAR') == 2017)
    &
    (energy_with_time.get('MONTH') == 6)
].groupby('HOUR').mean().drop(columns=['YEAR', 'MONTH', 'DAY'])
hourly_averages_june_2017

In [ ]:
_ = ok.grade('q4_8')

**Question 4.9.** Plot the hourly average production of solar, wind, and geothermal in June 2017 on one plot.

In [ ]:
#- put your code here
hourly_averages_june_2017.get(['SOLAR', 'WIND TOTAL', 'GEOTHERMAL']).plot()

You should see that solar production is zero at night, but reaches a peak in the afternoon. On the other hand, wind output is highest at night.

# Finish Line

Congratulations, you're done with the project!  Be sure to

- **Verify that all tests pass** (the next cell has a shortcut for that), 
- **Save and Checkpoint** from the `File` menu,
- **Run the last cell to submit your work**

### You *do not* need to submit a notebook to Gradescope for this project!

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir('tests') if q.startswith('q')]

In [ ]:
_ = ok.submit()